{% extends "layout.html" %}
{% block content %}
<section class="content-header">
    <h1>&nbsp;</h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('website.index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Controle de Recursos</li>
    </ol>
</section>

<section class="content">
    <div class="error-page text-center">
        <h2 class="text-yellow text-center"><i class="fa fa-warning text-yellow"></i> Error 404</h2><br>
        <div class="body">
            <p class="lead semi-bold">
                <strong>Ooooops! <br>A página solicitada não pode ser encontrada.</strong><br><br>
                <small>
				    Entre em contato com o administrador caso acredite que algo deva existir aqui.
                </small>
                {% if error %}
                    <div class="alert alert-warning alert-dismissable">
                        {{ error }}
                    </div>
                {% endif %}
            </p><br>
        </div>
        <div class="row">
            <div class="col-sm-12">
			    <ul class="list-inline">
				    <li>&nbsp;<a href="#" onclick="javascript:history.go(-1);">Voltar</a>&nbsp;</li>
					<li>.</li>
					<li>&nbsp;<a href="{{ url_for('website.index') }}">Página Inicial</a>&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}